<!doctype html>
<html class="no-js" lang="" ng-app="burgerApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Burger Joint</title>
        <meta name="description" content="Burger delivery in Lviv, Ukraine">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/helper.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/mediaqueries.css">

        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body ng-controller="MainController" ng-class="{'o-hid': currentPath === '/failure' || 
                                                             currentPath === '/success' ||
                                                             currentPath === '/error' ||
                                                             currentPath === '/pending' }">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="outer-wrapper">
            <section class="main banner clearfix">
                <header class="container">
                    <div class="logo-holder">
                        <div class="logo"></div>
                        <div class="logo-msg">
                            Доставка <br>Бургерів
                        </div>
                    </div>
                    <div class="header-info">
                        <a href="tel:+380322355029">+38 (032) 235 50 29</a>
                        <a href="tel:+380682355029">+38 (068) 235 50 29</a>
                        <div>10:00-23:00 без вихiдних</div>
                    </div>
                </header>
            </section>
            <section class="burgers">
                <div class="container">
                    <h2>Бургери</h2>
                    <div class="burger-wrapper">
                        <div class="burger-row">
                            <div class="burger-block" ng-repeat="burger in menu.burgers">
                                <div class="img-holder">
                                    <img ng-src="{{ burger.img }}" alt="{{ burger.name }}" />
                                </div>
                                <div class="burger-info">
                                    <div class="burger-header clearfix">
                                        <h3 class="f-left">
                                            {{ burger.name }}
                                            <span class="item-details">
                                                {{ burger.details }}
                                            </span>
                                        </h3>
                                        <a href="javascript:void(0)" 
                                           class="burger-add" 
                                           ng-click="itemIncrement(burger)" 
                                           ng-show="burger.qty == 0">
                                        </a>
                                        <div class="f-right burger-quantity-wrapper" ng-show="burger.qty > 0">
                                            <div class="order-controls">
                                                <a href="javascript:void(0)" class="subtract" ng-click="itemDecrement(burger)"></a>
                                                <div class="order-item-quantity">{{ burger.qty }}</div>
                                                <a href="javascript:void(0)" class="add" ng-click="itemIncrement(burger)"></a>
                                            </div>
                                        </div>
                                        <div class="doneness-wrapper" ng-show="burger.qty > 0">
                                            <a href="javascript:void(0)" class="doneness-trigger" ng-click="visible=true">
                                                <div class="doneness-icon"></div>
                                                <div class="doneness-msg">Прожарка</div>
                                            </a>
                                            <div class="doneness-popover" 
                                                 ng-show="visible" 
                                                 off-click="visible=false" 
                                                 off-click-activator="visible">
                                                <div class="doneness-grid">
                                                    <div class="doneness-labels-wrapper">
                                                        <div class="doneness-label">Well Done</div>
                                                        <div class="doneness-label medium">Medium</div>
                                                        <div class="doneness-label">Medium Rare</div>
                                                    </div>
                                                    <div class="radio-group-wrapper">
                                                        <div class="radio-group" 
                                                             ng-repeat="item in burger.doneness track by $index">
                                                            <input type="radio" 
                                                                   class="doneness-radio"
                                                                   name="donenessRadio{{$parent.$index}}{{$index}}"
                                                                   id="donenessRadioWellDone{{$parent.$index}}{{$index}}"
                                                                   ng-model="burger.doneness[$index]"
                                                                   value="welldone" />
                                                            <label for="donenessRadioWellDone{{$parent.$index}}{{$index}}"></label>
                                                            <input type="radio" 
                                                                   class="doneness-radio"
                                                                   name="donenessRadio{{$parent.$index}}{{$index}}"
                                                                   id="donenessRadioMedium{{$parent.$index}}{{$index}}"
                                                                   ng-model="burger.doneness[$index]"
                                                                   value="medium" />
                                                            <label for="donenessRadioMedium{{$parent.$index}}{{$index}}"></label>
                                                            <input type="radio" 
                                                                   class="doneness-radio"
                                                                   name="donenessRadio{{$parent.$index}}{{$index}}"
                                                                   id="donenessRadioMediumRare{{$parent.$index}}{{$index}}"
                                                                   ng-model="burger.doneness[$index]"
                                                                   value="mediumrare" />
                                                            <label for="donenessRadioMediumRare{{$parent.$index}}{{$index}}"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <p>
                                            {{ burger.desc }}
                                        </p>
                                        <div class="price">
                                            <span class="amount">{{ burger.price }}</span>
                                            <span class="currency">грн</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="additional">
                <div class="additional-row">
                    <div class="additional-block additional-block-sm">
                        <h3>
                            Салати
                        </h3>
                        <div class="additional-list">
                            <div class="additional-list-item" ng-repeat="salad in menu.salads">
                                <input type="checkbox" 
                                       class="bj-checkbox"
                                       name="saladInput"
                                       ng-model="salad.checked"
                                       ng-change="addItemWithCheckbox(salad)"
                                       id="saladInput{{$index}}" />
                                <label for="saladInput{{$index}}">
                                <span class="item-name">
                                    {{ salad.name }}
                                </span>
                                <div class="additional-quantity-wrapper" ng-show="salad.qty > 0">
                                    <div class="order-controls">
                                        <a href="javascript:void(0)" class="subtract" ng-click="itemDecrement(salad)"></a>
                                        <div class="order-item-quantity">{{ salad.qty }}</div>
                                        <a href="javascript:void(0)" class="add" ng-click="itemIncrement(salad)"></a>
                                    </div>
                                </div>
                                <span class="price">
                                    {{ salad.price }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="additional-row">
                    
                    <div class="additional-block additional-block-sm">
                        <h3>
                            КАРТОПЛЯ ФРІ
                        </h3>
                        <div class="additional-list">
                            <div class="additional-list-item" ng-repeat="fries in menu.fries">
                                <input type="checkbox" 
                                       class="bj-checkbox"
                                       name="friesInput"
                                       ng-model="fries.checked"
                                       ng-change="addItemWithCheckbox(fries)"
                                       id="friesInput{{$index}}" />
                                <label for="friesInput{{$index}}">
                                <span class="item-name">
                                    {{ fries.name }}
                                </span>
                                <div class="additional-quantity-wrapper" ng-show="fries.qty > 0">
                                    <div class="order-controls">
                                        <a href="javascript:void(0)" class="subtract" ng-click="itemDecrement(fries)"></a>
                                        <div class="order-item-quantity">{{ fries.qty }}</div>
                                        <a href="javascript:void(0)" class="add" ng-click="itemIncrement(fries)"></a>
                                    </div>
                                </div>
                                <span class="price">
                                    {{ fries.price }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="additional-block additional-block-sm">
                        <h3>
                            Соуси
                        </h3>
                        <div class="additional-list">
                            <div class="additional-list-item" ng-repeat="sauce in menu.sauces">
                                <input type="checkbox" 
                                       class="bj-checkbox"
                                       name="sauceInput"
                                       ng-model="sauce.checked"
                                       ng-change="addItemWithCheckbox(sauce)"
                                       id="sauceInput{{$index}}" />
                                <label for="sauceInput{{$index}}">
                                <span class="item-name">
                                    {{ sauce.name }}
                                </span>
                                <div class="additional-quantity-wrapper" ng-show="sauce.qty > 0">
                                    <div class="order-controls">
                                        <a href="javascript:void(0)" class="subtract" ng-click="itemDecrement(sauce)"></a>
                                        <div class="order-item-quantity">{{ sauce.qty }}</div>
                                        <a href="javascript:void(0)" class="add" ng-click="itemIncrement(sauce)"></a>
                                    </div>
                                </div>
                                <span class="price">
                                    {{ sauce.price }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="additional-row">
                    <div class="additional-block additional-block-md">
                        <h3>
                            НАПОЇ
                        </h3>
                        <div class="additional-list">
                            <div class="additional-list-item" ng-repeat="drink in menu.drinks">
                                <input type="checkbox" 
                                       class="bj-checkbox"
                                       name="drinkInput"
                                       ng-model="drink.checked"
                                       ng-change="addItemWithCheckbox(drink)"
                                       id="drinkInput{{$index}}" />
                                <label for="drinkInput{{$index}}">
                                <span class="item-name">
                                    {{ drink.name }}
                                </span>
                                <span class="item-details">
                                    {{ drink.details }}
                                </span>
                                <div class="additional-quantity-wrapper" ng-show="drink.qty > 0">
                                    <div class="order-controls">
                                        <a href="javascript:void(0)" class="subtract" ng-click="itemDecrement(drink)"></a>
                                        <div class="order-item-quantity">{{ drink.qty }}</div>
                                        <a href="javascript:void(0)" class="add" ng-click="itemIncrement(drink)"></a>
                                    </div>
                                </div>
                                <span class="price">
                                    {{ drink.price }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="additional-row">
                    <div class="additional-block additional-block-sm">
                        <h3>
                            Пиво
                        </h3>
                        <div class="additional-list">
                            <div class="additional-list-item" ng-repeat="beer in menu.beer">
                                <input type="checkbox" 
                                       class="bj-checkbox"
                                       name="beerInput"
                                       ng-model="beer.checked"
                                       ng-change="addItemWithCheckbox(beer)"
                                       id="beerInput{{$index}}" />
                                <label for="beerInput{{$index}}">
                                <span class="item-name">
                                    {{ beer.name }}
                                </span>
                                <span class="item-details">
                                    {{ beer.details }}
                                </span>
                                <div class="additional-quantity-wrapper" ng-show="beer.qty > 0">
                                    <div class="order-controls">
                                        <a href="javascript:void(0)" class="subtract" ng-click="itemDecrement(beer)"></a>
                                        <div class="order-item-quantity">{{ beer.qty }}</div>
                                        <a href="javascript:void(0)" class="add" ng-click="itemIncrement(beer)"></a>
                                    </div>
                                </div>
                                <span class="price">
                                    {{ beer.price }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="additional-block additional-block-sm">
                        <h3>
                            Вода
                        </h3>
                        <div class="additional-list">
                            <div class="additional-list-item additional-list-item-water" ng-repeat="water in menu.water">
                                <input type="checkbox" 
                                       class="bj-checkbox"
                                       name="waterInput"
                                       ng-model="water.checked"
                                       ng-change="addItemWithCheckbox(water)"
                                       id="waterInput{{$index}}" />
                                <label for="waterInput{{$index}}">
                                <span class="item-name">
                                    {{ water.name }}
                                </span>
                                <span class="item-details">
                                    {{ water.details }}
                                </span>
                                <div class="additional-quantity-wrapper" ng-show="water.qty > 0">
                                    <div class="order-controls">
                                        <a href="javascript:void(0)" class="subtract" ng-click="itemDecrement(water)"></a>
                                        <div class="order-item-quantity">{{ water.qty }}</div>
                                        <a href="javascript:void(0)" class="add" ng-click="itemIncrement(water)"></a>
                                    </div>
                                </div>
                                <span class="price">
                                    {{ water.price }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="additional-block additional-block-lg">
                        <div class="order-section-wrapper">
                            <div class="order-section">
                                <div class="order-header" ng-hide="filteredBurgers.length ||
                                              filteredSalads.length ||
                                              filteredFries.length ||
                                              filteredDrinks.length ||
                                              filteredBeer.length ||
                                              filteredWater.length ||
                                              filteredSauces.length
                                              ">
                                    Ви ще нiчого не замовили
                                </div>
                                <div class="order-header" ng-show="filteredBurgers.length ||
                                              filteredSalads.length ||
                                              filteredFries.length ||
                                              filteredDrinks.length ||
                                              filteredBeer.length ||
                                              filteredWater.length ||
                                              filteredSauces.length
                                              ">
                                    Ваше замовлення:
                                </div>
                                <ul class="order-list">
                                    
                                    <li class="order-item" ng-repeat="item in filteredBurgers = (menu.burgers | ordered)">
                                        <div class="order-item-name">
                                            Бургер {{ item.name }}
                                        </div>
                                        <div class="order-details">
                                            <div class="order-controls">
                                                <a href="javascript:void(0)" 
                                                   class="subtract" 
                                                   ng-click="qtyDecrement(item)"></a>
                                                <div class="order-item-quantity">{{ item.qty }}</div>
                                                <a href="javascript:void(0)" 
                                                   class="add" 
                                                   ng-click="qtyIncrement(item)"></a>
                                            </div>
                                            <div class="order-item-price">
                                                <span class="order-item-price-amount">{{ item.price }}</span> грн
                                            </div>
                                        </div>
                                    </li>
                                    <li class="order-item" ng-repeat="item in filteredSalads = (menu.salads | ordered)">
                                        <div class="order-item-name">
                                            Салат {{ item.name }}
                                        </div>
                                        <div class="order-details">
                                            <div class="order-controls">
                                                <a href="javascript:void(0)" 
                                                   class="subtract" 
                                                   ng-click="qtyDecrement(item)"></a>
                                                <div class="order-item-quantity">{{ item.qty }}</div>
                                                <a href="javascript:void(0)" 
                                                   class="add" 
                                                   ng-click="qtyIncrement(item)"></a>
                                            </div>
                                            <div class="order-item-price">
                                                <span class="order-item-price-amount">{{ item.price }}</span> грн
                                            </div>
                                        </div>
                                    </li>
                                    <li class="order-item" ng-repeat="item in filteredFries = (menu.fries | ordered)">
                                        <div class="order-item-name">
                                            Фрi {{ item.name }}
                                        </div>
                                        <div class="order-details">
                                            <div class="order-controls">
                                                <a href="javascript:void(0)" 
                                                   class="subtract" 
                                                   ng-click="qtyDecrement(item)"></a>
                                                <div class="order-item-quantity">{{ item.qty }}</div>
                                                <a href="javascript:void(0)" 
                                                   class="add" 
                                                   ng-click="qtyIncrement(item)"></a>
                                            </div>
                                            <div class="order-item-price">
                                                <span class="order-item-price-amount">{{ item.price }}</span> грн
                                            </div>
                                        </div>
                                    </li>
                                    <li class="order-item" ng-repeat="item in filteredDrinks = (menu.drinks | ordered)">
                                        <div class="order-item-name">
                                            {{ item.name }}
                                        </div>
                                        <div class="order-details">
                                            <div class="order-controls">
                                                <a href="javascript:void(0)" 
                                                   class="subtract" 
                                                   ng-click="qtyDecrement(item)"></a>
                                                <div class="order-item-quantity">{{ item.qty }}</div>
                                                <a href="javascript:void(0)" 
                                                   class="add" 
                                                   ng-click="qtyIncrement(item)"></a>
                                            </div>
                                            <div class="order-item-price">
                                                <span class="order-item-price-amount">{{ item.price }}</span> грн
                                            </div>
                                        </div>
                                    </li>
                                    <li class="order-item" ng-repeat="item in filteredBeer = (menu.beer | ordered)">
                                        <div class="order-item-name">
                                            {{ item.name }}
                                        </div>
                                        <div class="order-details">
                                            <div class="order-controls">
                                                <a href="javascript:void(0)" 
                                                   class="subtract" 
                                                   ng-click="qtyDecrement(item)"></a>
                                                <div class="order-item-quantity">{{ item.qty }}</div>
                                                <a href="javascript:void(0)" 
                                                   class="add" 
                                                   ng-click="qtyIncrement(item)"></a>
                                            </div>
                                            <div class="order-item-price">
                                                <span class="order-item-price-amount">{{ item.price }}</span> грн
                                            </div>
                                        </div>
                                    </li>
                                    <li class="order-item" ng-repeat="item in filteredWater = (menu.water | ordered)">
                                        <div class="order-item-name">
                                            {{ item.name }}
                                        </div>
                                        <div class="order-details">
                                            <div class="order-controls">
                                                <a href="javascript:void(0)" 
                                                   class="subtract" 
                                                   ng-click="qtyDecrement(item)"></a>
                                                <div class="order-item-quantity">{{ item.qty }}</div>
                                                <a href="javascript:void(0)" 
                                                   class="add" 
                                                   ng-click="qtyIncrement(item)"></a>
                                            </div>
                                            <div class="order-item-price">
                                                <span class="order-item-price-amount">{{ item.price }}</span> грн
                                            </div>
                                        </div>
                                    </li>
                                    <li class="order-item" ng-repeat="item in filteredSauces = (menu.sauces | ordered)">
                                        <div class="order-item-name">
                                            {{ item.name }} Соус
                                        </div>
                                        <div class="order-details">
                                            <div class="order-controls">
                                                <a href="javascript:void(0)" 
                                                   class="subtract" 
                                                   ng-click="qtyDecrement(item)"></a>
                                                <div class="order-item-quantity">{{ item.qty }}</div>
                                                <a href="javascript:void(0)" 
                                                   class="add" 
                                                   ng-click="qtyIncrement(item)"></a>
                                            </div>
                                            <div class="order-item-price">
                                                <span class="order-item-price-amount">{{ item.price }}</span> грн
                                            </div>
                                        </div>
                                    </li>
                                    <li class="order-item" ng-show="calcTotal().includeDelivery">
                                        <div class="order-item-name">
                                            Доставка 
                                            <span class="item-details">
                                                (замовлення до 100 грн)
                                            </span>
                                        </div>
                                        <div class="order-details">
                                            <div class="order-item-price">
                                                <span class="order-item-price-amount">30</span> грн
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="order-summary" ng-show="filteredBurgers.length ||
                                              filteredSalads.length ||
                                              filteredFries.length ||
                                              filteredDrinks.length ||
                                              filteredBeer.length ||
                                              filteredWater.length ||
                                              filteredSauces.length">
                                    <div class="remember-wrapper">
                                        <input type="checkbox" id="rememberOrderInput" class="bj-checkbox" ng-model="fullOrderDetails.rememberOrder" />
                                        <label for="rememberOrderInput">
                                            Запам’ятати
                                        </label>
                                    </div>
                                    <div class="order-total">
                                        Загалом: 
                                        <span class="order-total-amount">{{ calcTotal().sum }}</span>
                                        грн
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-wrapper">
                            <form name="orderForm" novalidate>
                                <label for="phoneNumberInput" class="o-hid">
                                    <div class="label-msg">Ваш телефон</div>
                                    <input type="text" id="phoneNumberInput" name="phoneNumber" ng-maxlength="10" ng-pattern="/[0-9]{10}/" required
                                           placeholder="067 374 57 73"
                                           ng-model="fullOrderDetails.phoneNumber"  />
                                     <div class="error">Номер телефону має складатися із 10 цифр</div>
                                </label>
                                <label for="deliveryInput" class="textarea-holder o-hid">
                                    <div class="label-msg">Куди веземо?</div>
                                    <textarea id="deliveryInput" 
                                              ng-model="fullOrderDetails.textMessage" 
                                              placeholder="Вулиця, номер будинку, номер квартири" required></textarea>
                                </label>
                                <div class="payment-label-group">
                                    <input type="radio" id="cashPaymentInput" class="bj-radio" name="paymentMethod" ng-model="fullOrderDetails.paymentMethod" value="cashPayment" />
                                    <label for="cashPaymentInput">
                                        Готівкою кур’єру
                                    </label>
                                    <input type="radio" id="onlinePaymentInput" class="bj-radio" name="paymentMethod" ng-model="fullOrderDetails.paymentMethod" value="onlinePayment" />
                                    <label for="onlinePaymentInput">
                                        Карткою онлайн
                                    </label>
                                </div>
                                <button type="button" class="order-btn" ng-click="getFullOrderDetails()" ng-disabled="orderForm.$invalid">
                                    Замовити
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <footer>
                    <div class="logo-holder">
                        <div class="logo"></div>
                    </div>
                    <div class="footer-info">
                        <a href="tel:+380322355029">+38 (032) 235 50 29</a>
                        <a href="tel:+380682355029">+38 (068) 235 50 29</a>
                        <div>Староєврейська, 26</div>
                    </div>
                </footer>
            </section>
            <div class="popup-wrapper" ng-show="currentPath == '/success'">
                <div class="backdrop"></div>
                <div class="popup">
                  <div class="additional-block additional-block-sm">
                    <a href="#" ng-click="currentPath = '/'" class="popup-dismiss"></a>
                    <h3>
                      Ваше замовлення прийнято
                    </h3>
                    <p>Ми Вам зателефонуємо.</p>
                  </div>
                </div>
            </div>
            <div class="popup-wrapper" ng-show="currentPath == '/failure'">
                <div class="backdrop"></div>
                <div class="popup">
                  <div class="additional-block additional-block-sm">
                    <a href="#" ng-click="currentPath = '/'" class="popup-dismiss"></a>
                    <h3>
                      Не вдалося виконати замовлення
                    </h3>
                    <p>
                      Повідомте нас про це за телефоном: 
                      <a href="tel:+380322355029">+38 (032) 235 50 29</a>
                      <a href="tel:+380682355029">+38 (068) 235 50 29</a>
                    </p>
                  </div>
                </div>
            </div>
            <div class="popup-wrapper" ng-show="currentPath == '/pending'">
                <div class="backdrop"></div>
                <div class="popup">
                  <div class="additional-block additional-block-sm">
                    <a href="#" ng-click="currentPath = '/'" class="popup-dismiss"></a>
                    <h3>
                      Ваше замовлення в стані обробки...
                    </h3>
                  </div>
                </div>
            </div>
            <div class="popup-wrapper" ng-show="currentPath == '/error'">
                <div class="backdrop"></div>
                <div class="popup">
                  <div class="additional-block additional-block-sm">
                    <a href="#" ng-click="currentPath = '/'" class="popup-dismiss"></a>
                    <h3>
                      Сталася помилка!
                    </h3>
                    <p>
                      Повідомте нас про це за телефоном: 
                      <a href="tel:+380322355029">+38 (032) 235 50 29</a>
                      <a href="tel:+380682355029">+38 (068) 235 50 29</a>
                    </p>
                  </div>
                </div>
            </div>
        </div>
        <script src="js/vendor/angular.min.js"></script>
        <script src="js/vendor/jquery-2.1.4.min.js"></script>
        <script src="js/vendor/ui-bootstrap-0.13.0.min.js"></script>
        <script src="js/vendor/jquery.maskedinput.min.js"></script>
        <script src="js/main.js"></script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!--<script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>-->
    </body>
</html>
